<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<title>Portal de notícias</title>
	</head>
<body>

	<form>
		<label>Titulo noticia</label>
		<input type="text" name="txtNoticia" id="txtNoticia" value="<%=noticia.titulo%>">
		<label>Notícia</label>
		<textarea name="txtNoticia" rows="4" cols="30" ></textarea>

		<input type="submit" value="Gravar" id="btnGravar" name="btnGravar">
	</form>

</body>
</html>